{
    "extends": "airbnb",
    "rules": {
        "strict": [0, "global"],
        "global-strict": [0, "always"],
        "no-var": 2,
        "max-len": [1, 120, 2, {"ignoreComments": true}],
        "quote-props": [1, "consistent-as-needed"],
        "no-cond-assign": [2, "except-parens"],
        "radix": 0,
        "space-infix-ops": 0,
        "no-unused-vars": [1, {"vars": "local", "args": "none"}],
        "default-case": 0,
        "no-else-return": 0,
        "no-param-reassign": 0,
        "quotes": 0,
        "jsx-quotes": [2, "prefer-double"],
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/prefer-es6-class": [2, "always"],
        "react/prefer-stateless-function": [1, {"ignorePureComponents": true }],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "to" ]
        }]
    }
}